/* CSS specific only to products.html */

a.products-link,
a.products-link:visited,
a.products-link:active {
    color: white;
}

a.check-stock-link,
a.check-stock-link:visited,
a.check-stock-link:active {
    color: darkgray;
}

a.check-stock-link:hover {
    color: lightgray;
}

.add-url-input {
    width: 50%;
}
