{% extends 'base.html' %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='index.css') }}">
{% endblock link %}

{% block title %}
<h2 class="text-center mb-5">Stock Checker</h2>
<h5 class="text-center mb-5">This program will check the real-time stock status of a list of online products.</h5>
{% endblock title %}

{% block content %}
<div class="d-flex justify-content-around">
    <div class="">
        <h4 class="text-center mb-4">Sign Up</h4>
        <form action="sign-up-form" name="sign-up" method="POST">
            <div class="form-group">
                <label for="sign-up-user">Username</label>
                <input type="text" class="form-control" id="sign-up-user" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="sign-up-pass">Password</label>
                <input type="password" class="form-control" id="sign-up-pass" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="sign-up-confirm-pass">Confirm Password</label>
                <input type="password" class="form-control" id="sign-up-confirm-pass" placeholder="Confirm Password">
            </div>
            <div class="form-group text-center mt-4">
                <button type="submit" class="btn btn-primary">Sign up</button>
            </div>
        </form>
    </div>
    <div class="d-flex">
        <div class="">
            <h4 class="text-center mb-4">Sign In</h4>
            <form action="sign-in-form" name="sign-in" method="POST">
                <div class="form-group">
                    <label for="sign-in-user">Username</label>
                    <input type="text" class="form-control" id="sign-in-user" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="sign-in-pass">Password</label>
                    <input type="password" class="form-control" id="sign-in-pass" placeholder="Password">
                </div>
                <div class="form-group text-center mt-4">
                    <button type="submit" class="btn btn-primary">Sign In</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="">
    <a class="navbar-brand {{'current-page' if request.path == '/stock' }}" href="/stock">Check Stock</a>
    <a class="nav-link {{'current-page' if request.path == '/products' }}" href="/products">Products</a>
</div>
{%endblock %}