/* CSS specific to all webpages */

body {
    background-color: #eaecee;
}

table {
    background-color: white;
}

table a:hover {
    color: #007bff;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content {
    padding-bottom: 2.8rem; /* Footer height */
}

#footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.8rem; /* Footer height */
}

.alert button {
    border: none;
    font-size: 18px;
    color: #692326;
    opacity: 0.7;
}
